.sep-graph {
    display: inline-block;
    border: medium outset #888a8588;
    vertical-align: top;
    margin: 0.35rem 0.15rem;
    width: min-content;
    text-align: center;
    /* border-radius: 0.15rem; */
    /* box-shadow: 0 0 0.15rem 0px black; */
}

.sep-graph-source {
    white-space: pre;
    text-align: left;
}

.sep-graph > span {
    display: inline-block;
    margin: 0.15rem auto;
}
